# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# environment
.env
.env.local

# Expo generated
expo-env.d.ts